const PostsQuery = gql`
      {
        posts {
          edges {
            node {
              id
              slug
              title
              date
              content
            }
          }
        }
      }
    `